html,body{
  background-color: #000;
  margin: 0;padding: 0;
  overflow: hidden;
}
html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
canvas{
  cursor: pointer;
}
