@font-face{
  font-family : "Terminus";
  src:url("font/Terminus.ttf");
}

body{
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*{
  font-family: "Terminus";
}

#info{
  white-space: pre-wrap;
  font-size: 1.4em;
}

a{
  color:#d42;
}
.highlighted{
  /*text-decoration: underline;*/
  background-color: #000;
  color:#eee;
}
